{
  "stripe": {
    "api_keys": {
      "EUR": {
        "pk_key": "pk_xxx",
        "sk_key": "sk_xxx"
      },
      "CAD": {
        "pk_key": "pk_xxx",
        "sk_key": "sk_xxx"
      },
      "default": {
        "pk_key": "pk_xxx",
        "sk_key": "sk_xxx"
      }
    }
  },
  "server": {
    "protocol": "http://",
    "domain": "localhost",
    "port": "8080"
  }
}
